  <p>
  <strong>Doctor name:</strong>
  <%= doctor.doctor_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= doctor.address %>
</p>

<p>
  <strong>Department:</strong>
  <%= doctor.department %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= doctor.qualification %>
</p>

<p>
  <strong>Dob:</strong>
  <%= doctor.dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= doctor.gender %>
</p>

<p>
  <strong>Email:</strong>
  <%= doctor.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= doctor.phone %>
</p>